button{
  
  cursor:pointer;
  height: 80px;
  width: 80px;
  border-radius: 50px;
  background-color: brown;
  color:white;
  font-size: 25px;
  border: 2px solid white;

  
}

.reset-button{
  border:none;
  cursor:pointer;
  height: 80px;
  width: 80px;
  border-radius: 50px;
  background-color: brown;
  color:white;
  font-size: 20px;

}