*{
  margin: 0;
  padding:0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.container{
  min-height: 100vh;
  width: 100%;
  background: linear-gradient( 135deg,  #0b3de2, #020111);
  padding:10px;
}
.todo-app{
  width: 100%;
  max-width: 300px;
  background-color: #fff;
  margin: 100px auto ;
  padding: 40px 30px 70px 30px;
  border-radius: 10px;
}

.todo-app h2{
  color:#06041a;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.input-todo-grid{
  
  background-color: #edeef0;
  border-radius: 30px;
  margin-bottom: 25px;
}

input{
  border:none;
  outline: none;
  background: transparent;
  padding: 10px;
  font-weight:bold;
}

.add-todo-button{
  border:none;
  outline: none;
  padding: 20px 10px;
  color: #fff;
  background-color: rgb(1, 13, 71);
  cursor: pointer;
  border-radius: 10px;
}

.todo-grid,
.input-todo-grid{
  display: grid;
  row-gap: 10px;
  align-items: center;
   
}

.delete-todo-button{
  background-color: darkred;
  color: white;
  border: none;
  outline: none;
  padding: 20px 10px;
  cursor: pointer;
  border-radius: 10px;
}